.imageLogo{
    background-image: url(https://user-images.githubusercontent.com/117536257/231513860-7330bfe0-31fa-4403-ba25-a606b7747186.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}