.img1{
    border-radius: 60px!important;
    scale: 0.9!important;
}
.img2{
    border-radius: 40px!important;
    scale: 1.4!important;
    margin: 60px!important;
}
.margin{
    margin-bottom: 90px!important;
}