.text-decorator-none{
    text-decoration: none;
}

.bemvindo{
    font-weight: 600 !important;
    padding: -50!important;
}

.btnLogin {
    margin-top: 30px!important;
    width: 400px;
}

.txtLogin{
    margin-bottom: 20!important;
}

.logoImage{
    border-radius: 100%!important;
    transform: scale(0.2);
    align-items: flex-start;
    justify-content: flex-start;
}